/*tugas 11*/
.Apptable {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  padding: 10px 10px;
  margin:250px; 
  margin-top: 70px;
  margin-bottom: 25px;
  margin-left: 420px;


}
.judul2{
  font-size: 40px;
}


/*.table {
  border: 0px solid black;
  margin: 30px auto;
  width: 500px;
  height: auto;
  background-color: white;
}*/

.thead{
  background-color: #aaaaaa;
}

.tbody {
  background-color: #ff7f50;
  text-align: left;
}
.judul {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: -12px;
  margin-left: -12px;
  margin-right: -12px;
  width: 500px;
  height: auto;

}
/*tugas 12*/
.jam {
  font-weight: bold;
}

.text-lg {
  font-size: 20px;
}

/*tugas 13*/
/*.container {
   text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  padding: 10px 10px;
  margin:250px; 
  margin-top: 70px;
  margin-bottom: 25px;
  margin-left: 200px;
  margin-right:  210px;


}


.tabelbuah {
  width: 960px;
  border: black solid 1px;
  margin-left: -12px;
  margin-right: -12px;
  height: 100px;
  font-weight: bold;
  font-size: 18px;


}
th {
  background-color: #aaaaaa;
}
td {
  background-color: #ff7f50;
}

.mundur {
  float: right;
}

#form-content{
  border: black solid 1px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: -10px;
  background-color: #aaaaaa;
}*/

/*tugas 4*/
div{
  padding-left:2px;
  font-family:serif;
}
table{
  border: 1px solid black;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
th {
  background-color: #aaaaaa;
}
td {
  background-color:#ff7f50;
}
form{
  text-align:center;
}
h1{text-align:center;}
.containertugas14 {
   text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  padding: 10px 10px;
  margin:250px; 
  margin-top: 70px;
  margin-bottom: 25px;
  margin-left: 200px;
  margin-right:  210px;


}


.tabelbuahtugas14 {
  width: 960px;
  border: black solid 1px;
  margin-left: -12px;
  margin-right: -12px;
  height: 100px;
  font-weight: bold;
  font-size: 18px;


}

#form-contenttugas14{
  border: black solid 1px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: -10px;
  background-color: #aaaaaa;
}


/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/